<div id="about">
    <img src="../../assets/WK.png" alt="my avatar" width="130" />
    <div id="intro" style="margin-left: 24px; padding-top: 24px;">
        <h2>Hello, I'm Wonkeun!</h2>
        <p>
            I love JS stack web development, Object-Oriented Programming and Linux embedded programming. <br />Programming has become my part of every day life. <br />I'm not sure where my career will reside in the future yet.
            <br />There will be a lot more to come for my career as a programmer. Stay tuned!
        </p>
    </div>
</div>

<h2><span class="material-icons"> view_list </span> Latest Projects</h2>
<h4>&#8226; Airbnb Clone</h4>
<p>
    Airbnb clone full-stack website using Node.js, MongoDB, Heroku. Used handlebars to template front-end and a combination of pure CSS and Bootstrap. User input validation, user authentication, admin/user authorization, data object CRUD operations are implemented.
</p>
<h4>&#8226; Travel Post</h4>
<p>
    Travel front-end page inspired by world travellers. Pure HTML & CSS webpage using SmoothScroll and OwlCarousel libraries.
</p>
<h4>&#8226; NY Restaurant App</h4>
<p>
    MERN full-stack application to interactively display New York restaurants on Leaflet map with grade information.
</p>

<h2>
    <span class="material-icons"> computer </span> Tech Stack That I Use &amp; Interests
</h2>
<ul>
    <li>
        <h3>
            Web Development
            <button mat-flat-button style="background-color: orangered">HTML</button>
            <button mat-flat-button style="background-color: dodgerblue">CSS</button>
            <button mat-flat-button style="background-color: gold; color: black">
        JavaScript
      </button>
            <button mat-flat-button style="background-color: forestgreen">
        Node.js
      </button>
            <button mat-flat-button style="background-color: steelblue">
        React.js
      </button>
            <button mat-flat-button style="background-color: red">Angular.js</button>
            <button mat-flat-button style="background-color: slateblue">
        Bootstrap
      </button>
            <button mat-flat-button style="background-color: crimson">SASS</button>
            <button mat-flat-button style="background-color: dodgerblue">
        Visual Studio Code
      </button>
        </h3>
    </li>
    <li>
        <h3>
            Object Oriented Programming
            <button mat-flat-button style="background-color: blue">C++</button>
            <button mat-flat-button style="background-color: dodgerblue">Java</button>
            <button mat-flat-button style="background-color: red">UML</button>
            <button mat-flat-button style="background-color: slateblue">
        Visual Studio
      </button>
            <button mat-flat-button style="background-color: darkblue">
        Eclipse
      </button>
            <button mat-flat-button style="background-color: crimson">
        Visual Paradigm
      </button>
        </h3>
    </li>
    <li>
        <h3>
            Linux/Unix and Embedded Programming
            <button mat-flat-button style="background-color: blue">C</button>
            <button mat-flat-button style="background-color: red">Ubuntu</button>
            <button mat-flat-button style="background-color: darkslategray">
        Linux Kernel Debugging
      </button>
            <button mat-flat-button style="background-color: crimson">
        Raspberry Pi
      </button>
        </h3>
    </li>
    <li>
        <h3>
            Version Control & Deployment
            <button mat-flat-button style="background-color: orangered">Git</button>
            <button mat-flat-button style="background-color: black">GitHub</button>
            <button mat-flat-button style="background-color: darkblue">Heroku</button>
            <button mat-flat-button style="background-color: crimson">Vercel</button>
        </h3>
    </li>
</ul>
