.material-icons {
    vertical-align: middle;
}

img {
    width: auto;
    height: 170px;
    display: block;
}

#my-intro {
    flex: 5 2;
}

mat-card {
    width: 95%;
    margin-bottom: 1em;
}

mat-divider {
    margin: 0.5em 0 1em !important;
}

mat-chip {
    margin: 0 0.3em;
    padding: 0.1em 1em;
}

mat-card-subtitle {
    font-size: 1.4em;
}

mat-list-item {
    margin-bottom: 0.5em;
}

.card-divider {
    position: relative;
    top: 38px;
}

.project-desc {
    margin-top: 1.7em;
}
