<h2>Hello, I'm Wonkeun!</h2>
<p>
    I love JS stack web development, Object-Oriented Programming and Linux embedded programming. Programming has become my part of every day life. I'm not sure where my career will reside in the future yet. There will be a lot more to come for my career as
    a programmer. Stay tuned!
</p>
<h2>Latest Projects</h2>
<h4>Airbnb Clone</h4>
<p>
    Airbnb clone full-stack website using Node.js, MongoDB, Heroku. Used handlebars to template front-end and a combination of pure CSS and Bootstrap. User input validation, user authentication, admin/user authorization, data object CRUD operations are implemented.
</p>
<h4>Travel Post</h4>
<p>Travel front-end page inspired by world travellers. Pure HTML & CSS webpage using SmoothScroll and OwlCarousel libraries.
</p>
<h4>MERN Full-stack NY Restaurant App</h4>
<p></p>
<h2>Tech Stack That I Use & Interests</h2>
<ul>
    <li>Web Development</li>
    <li>Object Oriented Programming</li>
    <li>Linux/Unix and Embedded Programming</li>
    <li>Version Control & Deployment</li>
</ul>