<mat-card>
    <mat-card-content>
        <div fxFlex>
            <img mat-card-lg-image src="../../assets/WK.PNG" alt="my avatar" />
        </div>
        <div fxFlex>
            <mat-card>
                <mat-card-title-group>
                    <mat-card-title>Hi, there <span class='material-icons'>waving_hand</span> I'm Wonkeun!</mat-card-title>
                </mat-card-title-group>
                <mat-divider inset></mat-divider>
                <mat-card-content>
                    I love JavaScript stack web development, Object-Oriented Programming and Linux embedded programming. <br />Programming has become my part of every day life. <br />I'm not sure where my career will reside in the future yet. <br />There
                    will be a lot more to come for my career as a programmer. Stay tuned!
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title><span class="material-icons"> view_list </span> Latest Projects
    </mat-card-title>
    <mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-list role="list">
            <mat-list-item role="listitem">
                <mat-card>
                    <mat-card-title> &#8226; Airbnb Clone </mat-card-title>
                    <mat-divider inset class='card-divider'></mat-divider>
                    <mat-card-content class='project-desc'>
                        Airbnb clone full-stack website using Node.js, MongoDB, Heroku. Used handlebars to template front-end and a combination of pure CSS and Bootstrap. User input validation, user authentication, admin/user authorization, data object CRUD operations are implemented.
                    </mat-card-content>
                </mat-card>
            </mat-list-item>

            <mat-list-item role="listitem">
                <mat-card>
                    <mat-card-title> &#8226; Travel Post </mat-card-title>
                    <mat-divider inset class='card-divider'></mat-divider>
                    <mat-card-content class='project-desc'>
                        Travel front-end page inspired by world travellers. Pure HTML & CSS webpage using SmoothScroll and OwlCarousel libraries.
                    </mat-card-content>
                </mat-card>
            </mat-list-item>

            <mat-list-item role=listitem>
                <mat-card>
                    <mat-card-title> &#8226; NY Restaurant App </mat-card-title>
                    <mat-divider inset class='card-divider'></mat-divider>
                    <mat-card-content class='project-desc'>
                        MERN full-stack application to interactively display New York restaurants on Leaflet map with grade information.
                    </mat-card-content>
                </mat-card>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title>
        <span class="material-icons"> computer </span> Tech Stack That I Use &amp; Interests
    </mat-card-title>
    <mat-divider inset></mat-divider>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <mat-card>
                    <mat-card-subtitle>
                        Web Development
                    </mat-card-subtitle>
                    <mat-card-content>
                        <mat-chip-list>
                            <mat-chip style="background-color: #d9361d">HTML</mat-chip>
                            <mat-chip style="background-color: #1c30dd"> CSS </mat-chip>
                            <mat-chip style="background-color: #ddc83b; color: black">
                                JavaScript
                            </mat-chip>
                            <mat-chip style="background-color: #357a2f"> Node.js </mat-chip>
                            <mat-chip style="background-color: #26c2ee; color:black"> React.js </mat-chip>
                            <mat-chip style="background-color: #b30023"> Angular.js </mat-chip>
                            <mat-chip style="background-color: #6100f3"> Bootstrap </mat-chip>
                            <mat-chip style="background-color: #c04d88">SASS</mat-chip>
                            <mat-chip style="background-color: #0f4aa1">
                                Visual Studio Code
                            </mat-chip>
                        </mat-chip-list>
                    </mat-card-content>
                </mat-card>
            </mat-list-item>

            <mat-list-item>
                <mat-card>
                    <mat-card-subtitle>
                        Object Oriented Programming
                    </mat-card-subtitle>
                    <mat-card-content>
                        <mat-chip-list>
                            <mat-chip style="background-color: #0a3e6f">C++</mat-chip>
                            <mat-chip style="background-color: #326484"> Java </mat-chip>
                            <mat-chip style="background-color: #bf1e25">UML</mat-chip>
                            <mat-chip style="background-color: #510d81">
                                Visual Studio
                            </mat-chip>
                            <mat-chip style="background-color: #2c1f5f"> Eclipse </mat-chip>
                            <mat-chip style="background-color: #bf1e25"> Visual Paradigm </mat-chip>
                        </mat-chip-list>
                    </mat-card-content>
                </mat-card>
            </mat-list-item>

            <mat-list-item>
                <mat-card>
                    <mat-card-subtitle>
                        Linux/Unix and Embedded Programming
                    </mat-card-subtitle>
                    <mat-card-content>
                        <mat-chip-list>
                            <mat-chip style="background-color: blue">C</mat-chip>
                            <mat-chip style="background-color: #c52f11">Ubuntu</mat-chip>
                            <mat-chip style="background-color: rgb(58, 58, 58)">
                                Linux Kernel Debugging
                            </mat-chip>
                            <mat-chip style="background-color: #bf0b43"> Raspberry Pi </mat-chip>
                        </mat-chip-list>
                    </mat-card-content>
                </mat-card>
            </mat-list-item>

            <mat-list-item>
                <mat-card>
                    <mat-card-subtitle>
                        Version Control and Deployment
                    </mat-card-subtitle>
                    <mat-card-content>
                        <mat-chip-list>
                            <mat-chip style="background-color: #db3525">Git</mat-chip>
                            <mat-chip style="background-color: black">GitHub</mat-chip>
                            <mat-chip style="background-color: #320086"> Heroku </mat-chip>
                            <mat-chip style="background-color: black"> Vercel </mat-chip>
                        </mat-chip-list>
                    </mat-card-content>
                </mat-card>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
