mat-list mat-icon:hover {
    cursor: pointer;
}

.track-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4px;
}

audio {
    height: 36px;
}

mat-card-content {
    margin-bottom: 0;
}

.mat-card-actions {
    padding: 0;
    margin: 0;
}

a:visited,
a:link {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 799px) {
    .track-item {
        flex-direction: column;
    }
    audio {
        width: 96%;
        margin: 0 1em;
    }
    mat-card-actions {
        margin-top: 0.4em;
    }
}
